@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.9ch;
  margin: 0px;
  color: black;
}

header {
  text-align: center;
  padding: 10px;
  height: 50px;
  position: relative;
  -webkit-box-shadow: 0px 3px 3px 1px #cccfcd;
  box-shadow: 0px 3px 3px 1px #cccfcd;
}
header .logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.loader {
  position: fixed;
  text-align: center;
  inset: 0;
  z-index: 1;
  background-color: white;
  opacity: 0.8;
  height: 100vh;
  animation: loading 200ms 3s forwards;
  transform-origin: top;
}
.loader i {
  margin-top: 200px;
  animation: spin 3s;
  color: #9356DC;
}

/*@keyframes loading {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }

}
@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}*/
.location {
  font-size: 1.9vh;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 1px;
}

.explorer {
  text-align: center;
  background-color: #fafafa;
  padding: 10px;
  height: 225px;
}
.explorer p {
  font-weight: 300;
  opacity: 0.5;
}

.btn__1 {
  box-shadow: 4px 4px 4px 0px #c7c9c8;
  color: white;
  margin-top: 15px;
  font-weight: 300;
  font-size: 2ch;
  padding: 16px 21px 16px 21px;
  border: none;
  border-radius: 2rem;
  background-color: #686868;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.btn__1:hover {
  transition: 0.25s;
  opacity: 0.9;
  box-shadow: 0px 1px 10px 2px #8a8988;
}

.operation {
  counter-reset: step;
  padding: 25px 15px 15px;
  position: relative;
}
.operation h1 {
  padding-top: 5px;
  font-weight: 900;
}
.operation ol {
  padding-left: 5px;
  margin-bottom: 50px;
}

.operation__step {
  display: flex;
  text-align: center;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #c7c9c8;
  list-style-type: none;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  margin-top: 15px;
  width: 85%;
  height: 25px;
}
.operation__step.purpleordercard {
  background: #f5edff;
}
.operation__step::before {
  content: counter(step);
  counter-increment: step;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  left: 10px;
}
.operation__step i.fas {
  color: grey;
  margin: 0px 15px 0px 15px;
}
.operation__step i.fas.fa-store {
  color: #9356DC;
}

.menus {
  background-color: #f6f6f6;
  height: 1350px;
}

.menu__title {
  padding: 55px 0 0px 22px;
  margin: 0px;
}

.card__menus {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  height: auto;
  flex-direction: column;
}
.card__menus .news {
  position: relative;
}
.card__menus .news::before {
  content: "Nouveau";
  position: absolute;
  height: 25px;
  width: 85px;
  background-color: #99E2D0;
  color: #217460;
  border-radius: 3px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 13px;
  top: 12px;
}

.card1 {
  box-shadow: 4px 4px 4px 0px #c7c9c8;
  padding-bottom: 50px;
  border-radius: 25px 25px 25px 25px;
  width: 89%;
  height: 215px;
  margin: 20px;
}

.card1 img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.infos h3 {
  padding: 5px 0px 0px 5px;
  margin: 1px;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: #353535;
}

.description {
  position: relative;
  margin-top: -3px;
  padding-top: 6px;
  height: 70px;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
}
.description p {
  padding-left: 10px;
  padding-top: 5px;
  opacity: 0.9;
  font-weight: 100;
}
.description h3 {
  font-weight: 900;
}

.heart i {
  font-size: 2.8ch;
  position: absolute;
  right: 18px;
  top: 32px;
  transform: translateY(-40%);
}
.heart .fa-solid {
  margin: 0px;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.heart:hover .fa-solid {
  opacity: 1;
}

.entree {
  margin: 10px 10px 10px 0Px;
  width: 95%;
  height: 70px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
}

.header {
  box-shadow: none;
  position: relative;
}
.header i {
  position: absolute;
  display: flex;
  left: 25px;
  top: 50%;
  justify-self: center;
  align-items: center;
  font-size: 2.5ch;
  transform: translateY(-50%);
}

.banner img {
  display: block;
  position: relative;
  width: 100%;
  max-height: 480px;
  object-fit: cover;
}

.mealsprice {
  position: absolute;
  width: 100%;
  margin-top: -45px;
  border-radius: 35px 35px 0 0px;
  background-color: #F3F3F3;
  height: 1150px;
}
.mealsprice .description2 {
  display: flex;
  font-family: shrikhand;
}
.mealsprice .description2 h2 {
  padding: 10px;
  padding-left: 25px;
}
.mealsprice .menus__category {
  display: flex;
  box-shadow: 4px 4px 4px 0px #c7c9c8;
  border-radius: 15px;
  width: 90%;
  margin: 15px 2px 2Px 17px;
  height: 61px;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}
.mealsprice .menus__category:hover .check__price {
  margin-right: 0;
}
.mealsprice .menus__category:hover i {
  animation: quarter-spin 1s ease;
}

.heart2 i {
  font-size: 2.5ch;
  position: absolute;
  right: 35px;
  padding-top: 73px;
  transform: translateY(-40%);
}
.heart2 .fa-solid {
  margin: 0px;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.heart2:hover .fa-solid {
  opacity: 1;
}

.container {
  margin-bottom: 30px;
  padding: 0px;
}

.plats {
  position: relative;
  margin-left: 25px;
  font-weight: lighter;
  font-size: small;
}
.plats::after {
  content: "";
  position: absolute;
  width: 41px;
  height: 3px;
  top: 19px;
  left: 0px;
  background-color: #99E2D0;
}

.menu-items__description {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menutitle {
  font-size: 100;
  font-weight: 600;
}

.menuprice {
  padding: 10px 15px 0 5px;
  margin-left: auto;
  margin-top: 20px;
  font-weight: 900;
}

.menusdetails {
  font-weight: 100;
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
}

.check__price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  width: 65px;
  margin-right: -65px;
  background-color: #99E2D0;
  transition: all 0.5s;
}

h4, p {
  padding: 2px;
  margin: 0px;
}

.order {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__2 {
  padding: 17px 33px 17px 33px;
  box-shadow: 4px 4px 4px 0px #c7c9c8;
  color: white;
  margin-top: 15px;
  font-weight: 300;
  font-size: 2ch;
  border: none;
  border-radius: 2rem;
  background-color: #686868;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.btn__2:hover {
  transition: 0.25s;
  opacity: 0.9;
  box-shadow: 0px 1px 10px 2px #8a8988;
}

.footer {
  position: relative;
  margin-top: 1020px;
}

.footer1 {
  position: relative;
  margin-top: 1100px;
}

footer {
  background-color: #353535;
  color: white;
  height: 190px;
}
footer p {
  margin-left: 15px;
}
footer a {
  color: white;
}
footer h2 {
  margin-left: 10px;
  font-family: Shrikhand, sans-serif;
  padding: 20px 10px 0px 10px;
  margin-top: 0px;
}

.fa-solid,
.fas {
  margin-right: 8px;
}

/*# sourceMappingURL=style.css.map */
