@use"../utils/mixins";
@use"../utils/variables";

.location {
    font-size: 1.8vh;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 1px;
}

.explorer {
    
    text-align: center;
    background-color: #fafafa;
    padding: 10px;
    height: 225px;
   



}



.btn__1 {
    @include mixins.base-shadow;
    color: white;
    margin-top: 15px;
    font-weight: 300;
    font-size: 2ch;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 2rem;
    background-color: #686868;
    background-image: linear-gradient(to bottom right, variables.$color-secondary,variables.$color-primary);
   
    &:hover{
       
        transition: .25s;
        opacity: 0.9;
        @include mixins.second-shadow;
       
    }
    
    

    
  
}


.operation {
    counter-reset: step;
    padding: 25px 15px 15px;
    position: relative;
    & h1{
        padding-top:5px;
    }
    ol{
        width:100%;
        padding-left:5px;
        margin-bottom:50px;
    }

   
}


.operation__step {
    display: flex;
    text-align: center;
    align-items: center;
    &.purpleordercard{
        background:#f5edff ;
    }
   
   

    
   
   
   
    
   
    &::before {
        content: counter(step);
        counter-increment: step;
        color:white;
        background-color:variables.$color-primary;
        width:25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: absolute;
        left:10px; 
              
    }

    @include mixins.base-shadow;
    list-style-type: none;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 20px;
    margin-top: 15px;
    width: 85%;
    height: 25px;
    

    i.fas {
        color:grey;
     
        margin: 0px 15px 0px 15px;
        &.fa-store{
            color:variables.$color-primary;
        }
    }
   
    
    

}
