@use"../utils/mixins";
@use"../utils/variables";

.location {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    text-align: center;
    padding: 1px;
}

.explorer {

    text-align: center;
    background-color: #fafafa;
    padding: 10px;
    height: 225px;



}

.btn__1 {
    @include mixins.base-shadow;
    color: white;
    margin-top: 10px;
    font-weight: 300;
    font-size: 2.5ch;
    padding: 10px 10px;
    border: none;
    border-radius: 2rem;
    background-color: #686868;
    background-image: linear-gradient(0deg, variables.$color-primary,variables.$color-secondary);
   
    &:hover{
       
        transition: .25s;
        opacity: 0.9;
        @include mixins.second-shadow;
       
    }
    
    

    
  
}