@use"../utils/variables";
@use"../utils/mixins";
@use"../utils/animations";

.header {
    box-shadow: none;
    position: relative;

    & i {
        position: absolute;
        display: flex;
        left: 25px;
        top: 50%;
        justify-self: center;
        align-items: center;
        font-size: 2.5ch;
        transform: translateY(-50%);

    }
}

.banner img {
    display: block;
    position: relative;
    width: 100%;
    max-height: 280px;
    object-fit: cover;
}

.mealsprice {

    position: absolute;
    width: 100%;
    margin-top: -45px;
    border-radius: 35px 35px 0 0px;
    background-color: #F3F3F3;
    height: 1150px;

    .description2 {
        display: flex;
        font-family: shrikhand;

        h2 {
            padding: 10px;
            padding-left: 25px;
        }

    }

    .menus__category {
        display: flex;
        @include mixins.base-shadow;
        border-radius: 15px;
        margin: 13px 10px 0 10px;


        height: 61px;
        background-color: white;
        white-space: nowrap;
        overflow: hidden;
        animation: slideup 1s forwards;


        &:hover {
            .check__price {
                margin-right: 0;
            }

            i {
                animation: quarter-spin 1s ease;

            }
        }
    }
}

.heart2 {
    i {
        font-size: 2.5ch;
        position: absolute;
        right: 35px;
        padding-top: 73px;
        transform: translateY(-40%);
    }

    .fa-solid {
        margin: 0px;
        color: transparent;
        background-image: linear-gradient(variables.$color-primary, variables.$color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 300ms ease-in-out;
    }

    &:hover .fa-solid {
        opacity: 1;
    }
}

.container {
    margin-bottom: 30px;
    padding: 0px;

}

.plats {
    position: relative;
    margin-left: 25px;
    font-weight: lighter;
    font-size: small;

    &::after {
        content: "";
        position: absolute;
        width: 41px;
        height: 3px;
        top: 19px;
        left: 0px;
        background-color: variables.$color-tertiary;
    }

}

.menu-items__description {
    padding: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.menutitle {

    font-size: 100;
    font-weight: 600;
}

.menuprice {
    padding: 10px 15px 0 5px;
    margin-left: auto;
    margin-top: 20px;
    font-weight: 900;
}

.menusdetails {
    font-weight: 100;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;

}

.check__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    width: 65px;
    margin-right: -65px;
    background-color: variables.$color-tertiary;
    transition: all 0.5s;




}

h4,
p {


    padding: 2px;
    margin: 0px;
}

.order {

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__2 {
    padding: 17px 33px 17px 33px;
    @include mixins.base-shadow;
    color: white;
    margin-top: 15px;
    font-weight: 300;
    font-size: 2ch;
    border: none;
    border-radius: 2rem;
    background-color: #686868;
    background-image: linear-gradient(to bottom right, variables.$color-secondary, variables.$color-primary);

    &:hover {

        transition: .25s;
        opacity: 0.9;
        @include mixins.second-shadow;

    }
}

.footer {
    position: relative;
    margin-top: 1020px;
}

.footer1 {
    position: relative;
    margin-top: 1100px;

}