@use "../utils/variables";
@use"../utils/mixins";

.menus {
    background-color: #f6f6f6;
    height: 1350px;

}

.menu__title {
    padding: 55px 0 0px 22px;
    margin: 0px;
}

.card__menus {
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    height: auto;
    flex-direction: column;

    .news {
        position: relative;


    }

    .news::before {
        content: "Nouveau";
        position: absolute;
        height: 25px;
        width: 85px;
        background-color: variables.$color-tertiary;
        color: darken(variables.$color-tertiary, 45%);
        display: grid;
        place-items: center;
        right: 13px;
        top: 12px;


    }


}

.card1 {
    @include mixins.base-shadow;
    padding-bottom: 50px;
    border-radius: 25px 25px 25px 25px;
    width: 89%;
    height: 215px;
    margin: 20px;

}

.card1 img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.infos h3,
p {
    padding: 5px 0px 0px 5px;
    margin: 1px;
    margin-left: 5px;
}

a {
    text-decoration: none;

    color: black;
}

.description {
    position: relative;
    margin-top: -3px;
    padding-top: 6px;
    height: 70px;
    border-radius: 0px 0px 25px 25px;
    background-color: white;

    i {
        font-size: 2.5ch;
        position: absolute;
        right: 17px;
        top: 20px;

    }

    .fa-solid {
        color: transparent;
        background-image: linear-gradient(0deg,variables.$color-primary,variables.$color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: .5s ease-in-out;

    }

    &:hover .fa-solid {
        opacity: 1;

    }



}